.homeContainer {
    min-height: 150vh;
    height: auto;
    width: 70%;
    margin: auto;
    background-color: #ffffff;
}
.subtitleIntro {
  margin: 100px 2rem 2rem;
  font-family: var(--titleFont);
  font-size: 2rem;

}
.textIntro{
  margin: 150px 20%;
  font-family: var(--textFont);
  font-size: 1.5rem;
}

.headBand {
  width: 100%;
  height: 500px;
  
}
.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 80%;
  margin: auto;
  padding-top: 100px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;

}
/* ************ PRESENTATION */

.presentationContainer {
  position: relative;
  width: 80%;
  height: 500px; 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

/* .img {
  overflow: hidden;
  opacity: 1;
  width: 100%;
  border-radius: 5px;
} */

.presentationLeft {
  width: 700px;
  height: 400px;  
  overflow: hidden;
  animation: all 1.5s ease-in-out;
  animation-name: imgMove;
  
}
.presentationRight {
  width: 550px;
  height: 400px;
  animation: all 1.5s ease-in-out;
  animation-name: txtMove;
  font-family: "Montserrat";  
  
}
.presentationRight h3 {
  font-family: "Open sans";
  font-size: 1.6rem;
  text-align: center;

}

.presentationRight p {
  font-family: "Montserrat";
  font-size: 1.1rem; 
  text-align: justify;
}

@keyframes imgMove {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes txtMove {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

/* *************** LATEST ARTICLES */

.latestArticles {
  width: 80%;
  min-height: 600px;
  height: auto;
  margin: auto;
}
.titrePresentation {
  text-align: center;
  font-family: Poppins;
  font-size: 3rem;
  margin: 100px auto;
}

.articlesCartContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.link {
  border: none;
  background: transparent;
  width: auto;
  height: auto;
}



/* ***************** TEST ************* */
.toggleList {
  display: none;
}

.active {
  display:block;
}

/* ******* MEDIA */

@media screen and (max-width: 1024px) {
  .titre {
    font-size: 1rem;
  }
  .homeContainer {
    padding-top: 200px;
  }
}